*{
    background-color: #1e1f26;
}

.cstmcolor{
    color: aqua;
    padding-bottom: 1rem;

}
.cstmcolor:hover{
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
}

.about{
    color: white;
}
.image{
    width: 300px;
    /* border:solid aqua; */
    text-align: center;
    border-block-end:solid aqua;
    writing-mode: horizontal-tb;
   
}


.image:hover{
    border-block-end:solid #ff0266 ;
    writing-mode: horizontal-tb;
}
.education{
    width: 700px;
    position: relative;
    display: grid;
    gap: 0 1.5rem;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3,1fr);
    color: white!important;
    text-align: left;
}

.education h4:nth-child(4){
    grid-row: 1/4;
    margin-top: 0%;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.education h2{
    font-size: 30px;
    color: white;
}
.education h3{
    font-size: 24px;
}
.education h4:nth-child(3){
    font-size: 16px;
}
.space{
    margin-top: 2rem;
}
