<section class="slider container col-md-12 pt-lg-5 mt-lg-5 " id="about">
  <div class="row mt-5 ">
    <div class="col-md-6  cstmbackground mb-5 mt-5  "data-aos="fade-up" >
      <div class="center">
      <h2 class="cstmcolor" data-aos="zoom-in">Personal Information</h2>
      <div class="about  " data-aos="fade-up">
        <p>
          Hi, I am Ceren, a passionate and dedicated computer engineering
          student currently in my third year of studies.
        </p>
        <p>
          I have a strong academic background and a natural curiosity for
          problem-solving, which has fueled my drive to constantly seek out new
          knowledge and skills in the field of technology. I take pride in the
          software projects I have built in my free time.
        </p>
        <p>
          I enjoy exploring new technologies and programming languages, and I am
          excited about the future of computer engineering. I am confident that
          my passion for technology and my drive to succeed will make me a
          valuable asset in the field of computer engineering.
        </p>
      </div>
      </div>
    </div>
    <div class="col-md-6 mb-5 mt-5">
      <img
        src="../../../assets/ceren.jpg"
        alt="Ceren Saldıran"
        class="image"
        data-aos="fade-up"
      />
    </div>

    <div class="col-md-6 mt-5 ">
      <h2 class="cstmcolor" data-aos="zoom-in">Education</h2>
      <div class="education"data-aos="fade-up">
        <h2>Computer Programming</h2>
        <h3>Manisa Celal Bayar University</h3>
        <h4>2017-2019</h4>
        <h4>3.26</h4>
      </div>
      <div class="education " data-aos="fade-up">
        <h2>Computer Engineering</h2>
        <h3>Manisa Celal Bayar University</h3>
        <h4>2019-continue</h4>
        <h4>2.81</h4>
      </div>

    </div>
  <div class="col-md-6 mt-5">
    <h2 class="cstmcolor" data-aos="zoom-in">Work Experience</h2>
    <div class="center">
    <ul>
      <li class="experience" data-aos="fade-up">
        <h2>Grandmedical Hospital</h2>
        <h3>Information Technology</h3>
        <h4>Long term intern</h4>
        <h4>Feb 2019 - June 2019</h4>

      </li>
      <li class="experience" data-aos="fade-up">
        <h2>VS Software</h2>
        <h3>Software Developer</h3>
        <h4>Worked with multiple teams to develop web applications <br>
          Worked on different technologies such as (MVC, Dotnet, C#)</h4>
        <h4>Apr 2022 - continue</h4>
      </li>

    </ul>
    </div>
  </div>
  </div>
</section>
