<section class="nav" id="home">
    <h1 >CEREN SALDIRAN</h1>
    <h3 class="span loader">FULL-STACK DEVELOPER</h3>
  </section>

  <!-- <main class="main">
    <section class="slider" id="tab-svelte">
      <h1>SVELTE</h1>
      <h2>another frontend JS framework</h2>
    </section>
    <section class="slider" id="tab-esbuild">
      <h1>ESBUILD</h1>
      <h2>an extremely fast JavaScript bundler</h2>
    </section>
    <section class="slider" id="tab-next">
      <h1>NEXT.JS</h1>
      <h2>framework for Production</h2>
    </section>
    <section class="slider" id="tab-typescript">
      <h1>TYPESCRIPT</h1>
      <h2>giving you better tooling at any scale</h2>
    </section>
    <section class="slider" id="tab-vite">
      <h1>VITE</h1>
      <h2>a frontend build tool</h2>
    </section>
  </main> -->
  <canvas class="background"></canvas>
  <!-- SGVsbG8hIE15IG5hbWUgaXMgU2FyYSBNYXphbC4gV2VsY29tZSB0byBteSBDb2RlUGVuIQ== -->