:host{
    display: block;
    color: white;
    padding: 3rem 2rem;
}
section{
    margin-top: 2rem;
}
section h2{
    color:var(--red);
}
section h4{
    color:var(--gray-light);
}

:host.pc section{
    width: 600px;
    position: relative;
    margin-left: 5rem;
    display: grid;
    gap: 0 1.5rem;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3,1fr);
}
:host.pc section h4:nth-child(4){
    grid-row: 1/4;
    margin-top: 0%;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}