<div class="skills">  <!-- create a div -->
	<h1>My Skills</h1> <!-- heading -->
	<li>
		<h3>HTML</h3><span class="bar"><span class="html"></span></span> <!-- skill bar 1 -->
	</li>

	<li>
		<h3>CSS</h3><span class="bar"><span class="css"></span></span><!-- skill bar 2 -->
	</li>

	<li>
		<h3>JAVASCRIPT</h3><span class="bar"><span class="javascript"></span></span><!-- skill bar 3 -->
	</li>

	<li>
		<h3>JQUERY</h3><span class="bar"><span class="jquery"></span></span><!-- skill bar 4 -->
	</li>
</div>